* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(168, 70, 160);
}

h1 {
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 100px;
    text-align: center;
    margin-bottom: 10px;
}

h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

main {
    margin: 30px;
}

section {
    margin: auto;
    padding: 10px;
    text-align: center;
}

#galeria {
    display: flex;
    flex-flow: wrap;
}

.agregar-text {
    border: 0;
    height: 30px;
    margin-bottom: 10px;
    text-align: center;
    cursor: pointer;
    font-size: 25px;
}

.button_buscar {
    width: 100px;
    height: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: rgb(191, 166, 214);
    background-color: rgb(17, 17, 17);
    border-radius: 15px;
    margin-bottom: 10px;
}

b.clickeable {
    background-color: rgb(238, 234, 241);
    color: rgb(133, 5, 101);
    border-radius: 5px;
    padding: 0 5px;
    margin-top: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}

b.clickeable:hover {
    color: rgb(209, 17, 152);
    font-weight: bold;
}

img {
    width: 250px;
    height: 200px;
    margin: auto;
    padding: 15px;
    align-items: center;
    border-radius: 20px;
    box-shadow: inset 0 0 10px rgb(47, 46, 46);
}

@media(max-width:576px) {
    img {
        width: 100%;
        height: auto;
        margin: auto;
        padding: 5px;
        align-items: center;
    }
    main {
        display: block;
    }
    h1 {
        font-size: 45px;
    }
    .agregar-text {
        width: 200px;
        font-size: 16px;
    }
}